table {
  width: 100%;
}

.btn {
  margin: 15px;
}

.headers {
  text-align: center;
}

.workers {
  color: darkcyan;
  font-weight: 600;
}

.ExistUserNameErr {
  color: red;
}

.ExistPositionErr {
 color: red;
}
